@model IEnumerable<Maglobe.Web.Services.Models.MenuViewModel>

@
@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <li class="menu-item active">
            <a href="@item.Url">@item.Title</a>
        </li>
    }
}