html {
  font-size: 100%;
}
body {
  background-color: #000;
  direction: rtl;
  color: #fff;
  font-family: "YekanBakh";
  font-size: 100%;
  width: 100%;
  height: 100%;
}

a {
  color: #fff;
}

html,
body {
  overflow-x: hidden;
}
