@page "/Page/{dynamicPageId}/{siteLanguage?}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.DynamicPages

@{
    Layout = "Shared/_Layout";
    var dynamicPage = (DynamicPageViewModel) ViewData["DynamicPage"];
}
@if (dynamicPage != null)
{
    ViewData["Title"] = dynamicPage.Title;
    ViewData["DescriptionSeo"] = dynamicPage.DescriptionSeo;

    <div class="content-wrapper">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12 content align-center">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                            <h1>@dynamicPage.Title</h1>
                            @Html.Raw(dynamicPage.Editor)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}