@page "/Index/{siteLanguage}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.Index

@{
    Layout = null;
    var menus = (List<MenuViewModel>) ViewData["Menus"];
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @foreach (var item in menus)
    {
        <a href="@item.Url">@item.Title</a>
    }
</div>
</body>
</html>