@page "/Index/{siteLanguage}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.Index

@{
    Layout = "_Layout";
    var menus = (List<MenuViewModel>) ViewData["Menus"];
}
<link href="@Url.Content("src/css/style.css")" rel="stylesheet" type="text/css" />
<body>

<div>
    @foreach (var item in menus)
    {
        <a href="@item.Url">@item.Title</a>
    }
</div>
</body>