@page "/NewsDetails/{newsId}/{siteLanguage?}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.NewsDetails

@{
    Layout = "Shared/_Layout";
    var news = (BlogDetailViewModel) ViewData["News"];
}
@if (news != null)
{
    <div class="content-wrapper">
        <div class="container-xl">
            <div class="col-12 col-md-6 pull-left">
                <div class="news-img">
                    <img class="img-block" src="@news.Picture">
                </div>
            </div>
            <div class="news-content">
                <h1 class="news-title">@news.Title</h1>
                @Html.Raw(news.Description)
            </div>

        </div>
    </div>
}