@page "/News/{siteLanguage?}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.News

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "رسانه";
    var news = (List<BlogListViewModel>) ViewData["News"];

}

<div class="content-wrapper">
    <div class="container-xl">
        <div class="row">
            <h1 class="align-center">رسانه</h1>
        </div>
        <div class="row">

            @if (news != null && news.Any())
            {
                @foreach (var item in news)
                {
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 news-wrapper" id="news-@item.Id">
                        <div class="news-item">
                            <a href="">
                                <img alt="@item.Title" class="news-thumbnail img-block" src="@item.Picture">
                                <h2>@item.Title</h2>
                                <a class="news-more" href="#">مشاهده مطلب...</a>
                                <!-- <div class="row news-meta">
                                    <div class="col-6"><img class="view-img" src="src/images/view.svg"><span>630 بازدید</span>
                                    </div>
                                    <div class="col-6 align-left"><img class="date-img" src="src/images/date.svg">
                                        <time> شنبه 1 تیر 1400</time>
                                    </div>
                                </div> -->
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>خبری یافت نشد.</p>
            }


        </div>
    </div>
</div>