@page "/NewsDetails/{newsId}/{siteLanguage?}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.NewsDetails

@{
    Layout = "Shared/_Layout";
    var news = (BlogDetailViewModel) ViewData["News"];
}
<div class="content-wrapper">
    <div class="container-xl">
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-12 col-md-6">
                <h1 class="news-title">@news.Title</h1>

                <p class="news-description">
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="news-img">
                    <img class="img-block" src="@news.Picture">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 news-content">
                @Html.Raw(news.Description)
            </div>
        </div>
    </div>
</div>