@page "/News/{siteLanguage?}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.News

@{
    Layout = "Shared/_Layout";
    var news = (List<BlogListViewModel>) ViewData["News"];
    string language = (string) ViewData["siteLanguage"];
    @if (language == "en")
    {
        ViewData["Title"] = "News";
    }
    else
    {
        ViewData["Title"] = "رسانه";
    }
}

<div class="content-wrapper">
    <div class="container-xl">
        <div class="row">
            @if (language == "en")
            {
                <h1 class="align-center">News</h1>
            }
            else
            {
                <h1 class="align-center">رسانه</h1>
            }

        </div>
        <div class="row">
            @if (news != null && news.Any())
            {
                @foreach (var item in news)
                {
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 news-wrapper">
                        <div class="news-item">
                            <a href="/NewsDetails/@item.Id">
                                <img class="news-thumbnail img-block" src="@item.Picture">
                                <h2>@item.Title</h2>
                                @if (language == "en")
                                {
                                    <a class="news-more" href="/NewsDetails/@item.Id">Read More...</a>
                                }
                                else
                                {
                                    <a class="news-more" href="/NewsDetails/@item.Id">مشاهده مطلب...</a>
                                }
                                <!-- <div class="row news-meta">
                                    <div class="col-6"><img class="view-img" src="src/images/view.svg"><span>630 بازدید</span>
                                    </div>
                                    <div class="col-6 align-left"><img class="date-img" src="src/images/date.svg">
                                        <time> شنبه 1 تیر 1400</time>
                                    </div>
                                </div> -->
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                @if (language == "en")
                {
                    <p> No news found </p>
                }
                else
                {
                    <p>خبری یافت نشد.</p>
                }
            }
        </div>
    </div>
</div>