@page "/ProductDetails/{productId}/{siteLanguage?}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.ProductDetails

@{
    Layout = "Shared/_Layout";
    var product = (ProductDetailViewModel) ViewData["ProductDetail"];
}

@if (product != null)
{
    ViewData["Title"] = product.Name;

    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 content align-center">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="green-heading product-title">
                                @product.Name
                            </h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4 product-pic">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 align-right">
                            @Html.Raw(product.DetailDescription)

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
else
{
    ViewData["Title"] = "Not Found";
    <p>اطلاعاتی یافت نشد</p>
}