@page "/Products/{siteLanguage?}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.Products

@{
    Layout = "Shared/_Layout";
    var menus = (List<MenuViewModel>) ViewData["Menus"];
    var products = (List<ProductViewModel>?) ViewData["Products"];
}
<body>
<div>
    @foreach (var item in menus)
    {
        <a href="@item.Url">@item.Title</a>
    }
    @if (products != null && products.Any())
    {
        @foreach (var item in products)
        {
            <p>@item.Name</p>
        }
    }
    else
    {
        <p>محصولی یافت نشد.</p>
    }
</div>
</body>