@page "/Products/{siteLanguage?}"
@using Maglobe.Web.Services.Models
@model Maglobe.Web.Pages.Products

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "محصولات";
    var products = (List<ProductViewModel>) ViewData["Products"];
}
<body>
<div class="content-wrapper">
<div class="container-fluid">
<div class="row">
<div class="col-md-12 content">
<!-- Slider main container -->
<div class="swiper products-swiper">
<!-- Additional required wrapper -->
<div class="swiper-wrapper">
<!-- Slides -->
<div class="swiper-slide">
    <div class="row">
        <div class="col-xxl-4 offset-xxl-3 col-lg-5 offset-lg-1 col-md-6 offset-md-1">
            <div class="row">
                <h3 class="green-heading"><span> پلاتینیوم تک</span> 0W-20 </h3>
                <p>مشخصات محصول:</p>
                <p>
                    این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است
                    و علاوه بر روانی و محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود.
                    ابن فرآورده برای عموم خودروهای سواری و ون های سبک با سوخت بنزین یا مجهز
                    به توربو شارژ طراحی شده است
                </p>
            </div>
            <div class="row">
                <div class="col-md-12 align-center">
                    <div class="deep-box">
                        <div class="row">
                            <div class="col-4">
                                <p> تاییدیه رسمی از:</p>
                            </div>
                            <div class="col-8">
                                <img class="inline-logo" alt="بنز"
                                     src="src/images/mercedes-benz.png">
                                <img class="inline-logo" alt="بی ام و"
                                     src="src/images/bmw.png">
                                <img class="inline-logo" alt="فولکس واگن"
                                     src="src/images/wolex.png">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            مدل:
                            0W-20<span> پلاتینیوم تک</span>
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5">
                    <div class="deep-box-small  align-center">
                        <p>کیفیت: SN+</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            حجم: 5 لیتر
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5 ">
                    <div class="deep-box-small  align-center">
                        <p>
                            تمام سنتتیک
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pl-5">
                    <div class="align-center">
                        <a href="0w-20.html" class="btn btn-gradient btn-block btn-large">
                            مشاهده جزئیات
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-left">

                </div>
            </div>
        </div>
        <div
            class="col-xxl-4 offset-xxl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-0 col-6 offset-3">
            <div class="big-product-pic">
                <img alt="روغن موتور 5w-40 " src="src/images/0w-20-big.png">

            </div>
        </div>
    </div>
</div>
<!-- End Slide1-->
<div class="swiper-slide">
    <div class="row">
        <div class="col-xxl-4 offset-xxl-3 col-lg-5 offset-lg-1 col-md-6 offset-md-1">
            <div class="row">
                <h3 class="blue-heading"><span> کوپر تک</span> 5W-40</h3>
                <p>مشخصات محصول:</p>
                <p>
                    این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است
                    و علاوه بر روانی و محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود.
                    ابن فرآورده برای عموم خودروهای سواری و ون های سبک با سوخت بنزین یا مجهز
                    به توربو شارژ طراحی شده است
                </p>
            </div>
            <div class="row">
                <div class="col-md-12 align-center">
                    <div class="deep-box">
                        <div class="row">
                            <div class="col-4">
                                <p> تاییدیه رسمی از:</p>
                            </div>
                            <div class="col-8">
                                <img class="inline-logo" alt="بنز"
                                     src="src/images/mercedes-benz.png">
                                <img class="inline-logo" alt="بی ام و"
                                     src="src/images/bmw.png">
                                <img class="inline-logo" alt="فولکس واگن"
                                     src="src/images/wolex.png">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            مدل:
                            <span> کوپر تک</span> 5W-40
                        </p>

                    </div>
                </div>
                <div class="col-6 pr-5">
                    <div class="deep-box-small  align-center">
                        <p>کیفیت: SN</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            حجم: 5 لیتر
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5 ">
                    <div class="deep-box-small  align-center">
                        <p>
                            تمام سنتتیک
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pl-5">
                    <div class="align-center">
                        <a href="5W-40.html" class="btn btn-gradient btn-block btn-large">
                            مشاهده جزئیات
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-left">
                </div>
            </div>
        </div>
        <div
            class="col-xxl-4 offset-xxl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-0 col-6 offset-3">
            <div class="big-product-pic">
                <img alt="روغن موتور 5w-40 " src="src/images/5w-40-big.png">

            </div>
        </div>
    </div>
</div>
<!-- End Slide4 -->

<div class="swiper-slide">
    <div class="row">
        <div class="col-xxl-4 offset-xxl-3 col-lg-5 offset-lg-1 col-md-6 offset-md-1">
            <div class="row">
                <h3 class="light-blue-heading"><span> گلدن تک </span> 5W-30 RN</h3>
                <p>مشخصات محصول:</p>
                <p>
                    این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است
                    و علاوه بر روانی و محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود.
                    ابن فرآورده برای عموم خودروهای سواری و ون های سبک با سوخت بنزین یا مجهز
                    به توربو شارژ طراحی شده است
                </p>
            </div>
            <div class="row">
                <div class="col-md-12 align-center">
                    <div class="deep-box">
                        <div class="row">
                            <div class="col-4">
                                <p> تاییدیه رسمی از:</p>
                            </div>
                            <div class="col-8">
                                <img class="inline-logo" alt="بنز"
                                     src="src/images/mercedes-benz.png">
                                <img class="inline-logo" alt="بی ام و"
                                     src="src/images/bmw.png">
                                <img class="inline-logo" alt="فولکس واگن"
                                     src="src/images/wolex.png">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            مدل:
                            5W-30<span> کوپر تک</span>
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5">
                    <div class="deep-box-small  align-center">
                        <p>کیفیت: SN</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            حجم: 5 لیتر
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5 ">
                    <div class="deep-box-small  align-center">
                        <p>
                            تمام سنتتیک
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pl-5">
                    <div class="align-center">
                        <a href="5W-30-RN.html"
                           class="btn btn-gradient btn-block btn-large">
                            مشاهده جزئیات
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-left">
                </div>
            </div>
        </div>
        <div
            class="col-xxl-4 offset-xxl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-0 col-6 offset-3">
            <div class=" big-product-pic">
                <img alt="روغن موتور 55W - 30 " src="src/images/5w-30-big.png">

            </div>
        </div>
    </div>
</div>
<!-- End Slide2 -->
<div class="swiper-slide">
    <div class="row">
        <div class="col-xxl-4 offset-xxl-3 col-lg-5 offset-lg-1 col-md-6 offset-md-1">
            <div class="row">
                <h3 class="light-blue-heading"><span> گلدن تک</span> 5W-30</h3>
                <p>مشخصات محصول:</p>
                <p>
                    این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است
                    و علاوه بر روانی و محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود.
                    ابن فرآورده برای عموم خودروهای سواری و ون های سبک با سوخت بنزین یا مجهز
                    به توربو شارژ طراحی شده است
                </p>
            </div>
            <div class="row">
                <div class="col-md-12 align-center">
                    <div class="deep-box">
                        <div class="row">
                            <div class="col-4">
                                <p> تاییدیه رسمی از:</p>
                            </div>
                            <div class="col-8">
                                <img class="inline-logo" alt="بنز"
                                     src="src/images/mercedes-benz.png">
                                <img class="inline-logo" alt="بی ام و"
                                     src="src/images/bmw.png">
                                <img class="inline-logo" alt="فولکس واگن"
                                     src="src/images/wolex.png">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            مدل:
                            <span> گلدن تک</span> 5W-30
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5">
                    <div class="deep-box-small  align-center">
                        <p>کیفیت: SN+</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            حجم: 5 لیتر
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5 ">
                    <div class="deep-box-small  align-center">
                        <p>
                            تمام سنتتیک
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pl-5">
                    <div class="align-center">
                        <a href="5W-30.html" class="btn btn-gradient btn-block btn-large">
                            مشاهده جزئیات
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-left">
                </div>
            </div>
        </div>
        <div
            class="col-xxl-4 offset-xxl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-0 col-6 offset-3">
            <div class=" big-product-pic">
                <img alt="روغن موتور 55W - 30 " src="src/images/5w-30-big.png">

            </div>
        </div>
    </div>
</div>
<!-- End Slide3 -->

<div class="swiper-slide">
    <div class="row">
        <div class="col-xxl-4 offset-xxl-3 col-lg-5 offset-lg-1 col-md-6 offset-md-1">
            <div class="row">
                <h3 class="orange-heading"><span> کلسی تک</span> 10W-40</h3>
                <p>مشخصات محصول:</p>
                <p>
                    این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است
                    و علاوه بر روانی و محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود.
                    ابن فرآورده برای عموم خودروهای سواری و ون های سبک با سوخت بنزین یا مجهز
                    به توربو شارژ طراحی شده است
                </p>
            </div>
            <div class="row">
                <div class="col-md-12 align-center">
                    <div class="deep-box">
                        <div class="row">
                            <div class="col-4">
                                <p> تاییدیه رسمی از:</p>
                            </div>
                            <div class="col-8">
                                <img class="inline-logo" alt="بنز"
                                     src="src/images/mercedes-benz.png">
                                <img class="inline-logo" alt="بی ام و"
                                     src="src/images/bmw.png">
                                <img class="inline-logo" alt="فولکس واگن"
                                     src="src/images/wolex.png">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            مدل:
                            <span> کلسی تک</span> 10W-40
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5">
                    <div class="deep-box-small  align-center">
                        <p>کیفیت: SN</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            حجم: 5 لیتر
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5 ">
                    <div class="deep-box-small  align-center">
                        <p>
                            تمام سنتتیک
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pl-5">
                    <div class="align-center">
                        <a href="10W-40.html" class="btn btn-gradient btn-block btn-large">
                            مشاهده جزئیات
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-left">
                </div>
            </div>
        </div>
        <div
            class="col-xxl-4 offset-xxl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-0 col-6 offset-3">
            <div class=" big-product-pic">
                <img alt="روغن موتور 5w-40 " src="src/images/10w-40-big.png">

            </div>
        </div>
    </div>
</div>
<!-- End Slide5 -->
<div class="swiper-slide">
    <div class="row">
        <div class="col-xxl-4 offset-xxl-3 col-lg-5 offset-lg-1 col-md-6 offset-md-1">
            <div class="row">
                <h3 class="red-heading"><span> استیل تک</span> 20W-50</h3>
                <p>مشخصات محصول:</p>
                <p>
                    این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است
                    و علاوه بر روانی و محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود.
                    ابن فرآورده برای عموم خودروهای سواری و ون های سبک با سوخت بنزین یا مجهز
                    به توربو شارژ طراحی شده است
                </p>
            </div>
            <div class="row">
                <div class="col-md-12 align-center">
                    <div class="deep-box">
                        <div class="row">
                            <div class="col-4">
                                <p> تاییدیه رسمی از:</p>
                            </div>
                            <div class="col-8">
                                <img class="inline-logo" alt="بنز"
                                     src="src/images/mercedes-benz.png">
                                <img class="inline-logo" alt="بی ام و"
                                     src="src/images/bmw.png">
                                <img class="inline-logo" alt="فولکس واگن"
                                     src="src/images/wolex.png">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            مدل:
                            <span> استیل تک</span> 20W-50
                        </p>

                    </div>
                </div>
                <div class="col-6  pr-5">
                    <div class="deep-box-small  align-center">
                        <p>کیفیت: SM</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6  pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            حجم: 4 لیتر
                        </p>

                    </div>
                </div>
                <div class="col-6 pr-5 ">
                    <div class="deep-box-small  align-center">
                        <p>
                            تمام سنتتیک
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pl-5">
                    <div class="align-center">
                        <a href="20W-50.html" class="btn btn-gradient btn-block btn-large">
                            مشاهده جزئیات
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-left">
                </div>
            </div>
        </div>
        <div
            class="col-xxl-4 offset-xxl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-0 col-6 offset-3">
            <div class=" big-product-pic">
                <img alt="روغن موتور 5w-40 " src="src/images/20W-50-big.png">

            </div>
        </div>
    </div>
</div>
<!-- End Slide6-->
<div class="swiper-slide">
    <div class="row">
        <div class="col-xxl-4 offset-xxl-3 col-lg-5 offset-lg-1 col-md-6 offset-md-1">
            <div class="row">
                <h3 class="purple-heading"><span> گلدن تک</span> 5W-30</h3>
                <p>مشخصات محصول:</p>
                <p>
                    این محصول با استفاده از روغن تمام پایه سنتزی با کیفیت عالی تولید شده است
                    و علاوه بر روانی و محافظت از قطعات موتور باعث کاهش مصرف سوخت هم می شود.
                    ابن فرآورده برای عموم خودروهای سواری و ون های سبک با سوخت بنزین یا مجهز
                    به توربو شارژ طراحی شده است
                </p>
            </div>
            <div class="row">
                <div class="col-md-12 align-center">
                    <div class="deep-box">
                        <div class="row">
                            <div class="col-4">
                                <p> تاییدیه رسمی از:</p>
                            </div>
                            <div class="col-8">
                                <img class="inline-logo" alt="بنز"
                                     src="src/images/mercedes-benz.png">
                                <img class="inline-logo" alt="بی ام و"
                                     src="src/images/bmw.png">
                                <img class="inline-logo" alt="فولکس واگن"
                                     src="src/images/wolex.png">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            مدل:
                            <span> گلدن تک</span> 5W-30
                        </p>

                    </div>
                </div>
                <div class="col-6 pr-5">
                    <div class="deep-box-small  align-center">
                        <p>کیفیت: SN</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 pl-5">
                    <div class="deep-box-small  align-center">
                        <p>
                            حجم: 5 لیتر
                        </p>

                    </div>
                </div>
                <div class="col-6 pr-5 ">
                    <div class="deep-box-small  align-center">
                        <p>
                            تمام سنتتیک
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pl-5">
                    <div class="align-center">
                        <a href="5W-30-p.html" class="btn btn-gradient btn-block btn-large">
                            مشاهده جزئیات
                        </a>
                    </div>
                </div>
                <div class="col-md-6 align-left">
                </div>
            </div>
        </div>
        <div
            class="col-xxl-4 offset-xxl-1 col-lg-5 offset-lg-1 col-md-5 offset-md-0 col-6 offset-3">
            <div class=" big-product-pic">
                <img alt="روغن موتور 5w-40 " src="src/images/5w-30-big-purple.png">

            </div>
        </div>
    </div>
</div>
<!-- End Slide7 -->
</div>

<!-- End Slides -->
<!-- If we need pagination -->
<div class="swiper-pagination"></div>

<!-- If we need navigation buttons  -->

<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>


</div>

</div>
</div>
</div>
</div>

<div>

    @if (products != null && products.Any())
    {
        @foreach (var item in products)
        {
            <p>@item.Name</p>
        }
    }
    else
    {
        <p>محصولی یافت نشد.</p>
    }


</div>
</body>