$body_bg: #000;
$primary-color: #e2c87e;
$second-color: #b69f64;
$white: #fff;
$blue: #709bff;
$light-blue: #57c7ff;
$green: #44db76;
$purple: #d262e9;
$red: #ff515f;
$orange: #ff912e;
$black: #000;
$dark-gray: #1d1d1d;
$gray: #313131;
$silver: #7a7a7a;
$light-gray: #cecece;
$primary-font: "YekanBakh";
$bold-font: "MjSazeBold";
$heading-font: "Poppins";

$transparent: transparent;
