@using Maglobe.Core.Enums
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="deepstudio.ir">
    <link href="@Url.Content("~/StaticFiles/css/style.css")" rel="stylesheet" type="text/css" />
    <title>@ViewData["Title"]</title>

</head>
<body class="@(ViewData["BodyClass"] != null ? (string) ViewData["BodyClass"] : string.Empty)">

@await Component.InvokeAsync("Menu", new {siteLanguage = ViewData["siteLanguage"] != null ? (string) ViewData["siteLanguage"] : string.Empty});
@RenderBody()
</body>

</html>
