.table {
  width: 100%;
  margin-bottom: 1rem;
  color: $white;
  vertical-align: top;
  border-color: $black;

  > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: $transparent;
    border-bottom-width: 1px;
  }

  > tbody {
    vertical-align: middle;
  }

  > thead {
    vertical-align: middle;
  }
  tr > td {
    border: 6px solid $black;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    background-color: $silver;
    &.table-dark-bg {
      background-color: $dark-gray;
      color: $primary-color;
      font-family: $bold-font;
    }

    * {
      font-size: 18px;
      color: $white;
    }
  }
  > :not(:first-child) {
    border-top: 2px solid $primary-color;
  }
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
