.news {
  background-image: url("../images/news-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  .content-wrapper {
    padding-top: 2rem;
    padding-bottom: 4rem;
    .container-xl {
      padding: 0 2.5rem;
    }
  }
  h1 {
    font-size: 1.875rem;
    margin-bottom: 5rem;
  }
  .news-item {
    background-color: #414141;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 1.875rem;
    .news-thumbnail {
      width: 100%;
    }
    h2 {
      color: $white;
      font-size: 1.125rem;
      font-family: $primary-font;
    }
    .news-more {
      color: $primary-color;
    }
    .news-meta {
      margin-top: 1.5rem;
      span,
      time {
        margin-right: 5px;
      }
      .date-img {
        position: relative;
        top: 3px;
      }
      .view-img {
        position: relative;
        top: 2px;
      }
    }
  }
}
